<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict/>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>部屋への入退室時にSecure Bubble状態の通知を送信するために通知機能を使用します。</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>nearby-interaction</string>
		<string>processing</string>
		<string>fetch</string>
	</array>
</dict>
</plist>
